.admin-settings {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.instance-id {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.instance-id span {
  margin-right: 10px;
  font-family: monospace;
}

.setting {
  margin-bottom: 15px;
  border-bottom: solid 0.2px black;

}


.setting label {
  display: flex;
  align-items: center;
}

.setting input[type="checkbox"] {
  margin-right: 10px;
}

.setting input[type="number"] {
  margin-left: 10px;
  width: 50px;
}

p {
  margin: 5px 0;
}
.jedanDIv{
  margin-left: 22%;
}

.AdminH2{
 font-weight: bold;
 font-size: 56px;
}
.AdminH3{
  margin-top: 50px;
}
.tajDrugiDiv{
  display: flex;
}

.checkBoxAdminPanel{
  margin-left: 5%;
}
.AdminPanelP{
  color: gray;
}

/* Toggle Switch Styles */
.toggle-switch-container {
  display: flex;
  align-items: center;
}

.toggle-switch {
  position: relative;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.toggle-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
  margin: 0;
}

.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.toggle-switch-inner:before,
.toggle-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
}

.toggle-switch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #3f51b5;
  color: #fff;
}

.toggle-switch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}

.toggle-switch-switch {
  display: block;
  width: 18px;
  height: 18px;
  margin: 3px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 36px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0px;
}

/* Save Button Styles */
.save-section {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.save-button {
  background-color: #3f51b5;

  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #293eb3;

}