@import './colors.css';

.fc-event {
    cursor: pointer;
  }
  /* From Uiverse.io by gharsh11032000 */ 
.buttons {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 12px;
    color: var(--primary-600);
    border: 2px solid var(--primary-400);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .buttons::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--primary-400);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .buttons:hover::before {
    scale: 3;
  }
  
  .buttons:hover {
    color: var(--bg-light);
    scale: 1.1;
    box-shadow: var(--shadow-light);
  }
  
  .buttons:active {
    scale: 1;
  }
  
  /* Style for the select element */
  .buttons select {
    background-color: transparent;
    border: none;
    color: var(--primary-600);
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  
  .buttons select option {
    background-color: var(--bg-light);
    color: var(--text-primary);
  }
  
  
  